*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    width: 2016px;
    height:1345px ;
    flex-shrink: 0;

    background-color:  yellow;
}
.logo{
    display: flex;
}
.txt{ display: flex; flex-direction: column; text-align: center; justify-content: center;
color: #2E2E2F;
font-family: "Neue Machina";
font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: normal;

}